* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 150px;
    /* overflow: hidden; */
}

#left {
    height: 100%;
    width: 48%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

#left h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.0vw;
    font-weight: 500;
}

#bottom-left {
    height: 40%;
    width: 100%;
    /* background-color: yellow; */
}

#colors {
    width: fit-content;
    padding: 10px 15px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 50px;
    justify-content: space-between;
    cursor: pointer;
    cursor: url();
}

#colors h4 {
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    font-weight: 500;
}

#color1 {
    height: 20px;
    width: 20px;
    background-color: rgb(244, 231, 203);
    border-radius: 50%;
    margin-right: 2px;
}

#color2 {
    height: 20px;
    width: 20px;
    background-color: rgb(211, 255, 130);
    border-radius: 50%;
}

#bottom-left h2 {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

#bottom-left p {
    font-size: 1.2vw;
    width: 70%;
    line-height: 28px;
    font-weight: 520;
    font-family: cursive;
}

#right {
    height: 100%;
    width: 35%;
    /* background-color: blue; */
    /* display: flex; */
    position: relative;
}

#right #top {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    /* background-color: bisque; */
}

#right #top h3 {
    /* color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
}

#right h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    /* background-color: gold; */
}

#right img{
    width: 100%;
    object-fit: cover;
    object-position: 0% 90%;
    height: 90%;
}

#cart{
    background-color: black;
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    right: -40px;
}